body{
    background:coral; font-family: "Google Sans Flex", sans-serif; font-optical-sizing: auto; font-weight: 400; font-style: normal;
}

#modern{
    background:darkred
}

#retro{
    background:darkslateblue
}

#carousel{
    color:ghostwhite
}