body{
    background:coral; font-family: "Google Sans Flex", sans-serif; font-optical-sizing: auto; font-weight: 400; font-style: normal; color:black
}

#modern{
    background:khaki
}

#retro{
    background:indianred
}

#real{
    background:lightseagreen
}

.sr-only{
    color:rgb(0, 255, 229);
}

#archive{
 background-color:darkseagreen ;
}

#landing{
    background-color: wheat;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}