body{
    background:coral; font-family: "Google Sans Flex", sans-serif; font-optical-sizing: auto; font-weight: 400; font-style: normal; color:black
}

#modern{
    background:khaki
}

#retro{
    background:indianred
}

#real{
    background:lightseagreen
}

#sr-only{
    color:rgb(251, 255, 0);
    background-color: rgb(255, 255, 255);
}

#archive{
 background-color:blueviolet ;
}

#landing{
    background-color: wheat;
}