body{
    background:steelblue; font-family: "Google Sans Flex", sans-serif; font-optical-sizing: auto; font-weight: 400; font-style: normal; color:black
}

#modern{
    background:khaki;
}

#recomm{
    background:MediumAquaMarine;
}

#real{
    background:lightseagreen;
}

.sr-only{
    color:rgb(0, 255, 229);
}

#archive{
 background-color:darkseagreen ;
}

#landing{
    background-color: wheat;
}

audio{
    width: 250px; height: 55px
}

#links{
    color:white;
}