body{
    background:CornflowerBlue;
    font-family: "Bungee Spice", sans-serif;font-size: 18px;
}
.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}
